body {
    margin: 0px;
    background: rgb(255, 239, 195);
}

.container {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1, .div2 {
    height: 200px;
    width: 200px;
    margin: 2em;
    background: #24f8cab6;
    border-radius: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div1 {
    transition: transform 0.5s, background 0.5s;
}
.animate1:hover {
    transform: translate(25px, 50px); /*--- 50px to right and 100px to down */
    background: #22a186bd;
}

.animate2:hover {
    transform: rotate(23deg);
}