body {
  margin: 0px;
}

div.class1 {
  background-image: url("https://images.unsplash.com/photo-1777978206855-cbc9508b4f6d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  filter: blur(20px) brightness(50%);
  /* filter: contrast(30%); */
  /* filter: grayscale(70%); */
  /* filter: saturate(40%); */
}
