/** {margin: 0px;}*/

div.main {
	border-width: 8px;
	width: 215px;
	border-style: outset;
	border-color: #09ffae;
	font-size: 80px;
	border-radius: 2rem 2rem 6rem 6rem;
	color: #3883ae;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  padding-bottom: 10%;
  margin-top: 60px;
  margin-left: 2.1rem;
  background-color: rgba(1, 1,1, 0.1);
  
}